.form {
  display: flex;
  width: 100%;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg);
}

.input {
  flex: 1 0 auto;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button {
  padding: 0 2rem;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-accent);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button:hover {
  filter: brightness(115%);
}
